body {
    background-color: #1F2933;
}

header {
    text-align: center;
    font-size: 3vw;
    color: #CBD2D9;
}

.stockbutton {
    position: absolute;
    left: 0.5vw;
    top: 8vw;
    width: 13vw;
    height: 10vw;
    border: 0.1vw dotted red;
}

.cash {
    position: absolute;
    left: 3vw;
    top: 5.5vw;
    width: 13vw;
    height: 2vw;
    text-align: left;
}

.stocktitles {
    position: absolute;
    left: 14.2vw;
    text-align: center;
    top: 5.5vw;
    font-size: 1vw;
    width: 13vw;
}

.yourstocks {
    position: absolute;
    left: 14.5vw;
    top: 8vw;
    width: 13vw;
    height: 10vw;
    border: 0.1vw dotted red;
}

.stockprices {
    position: absolute;
    left: 0.5vw;
    height: 10vw;
    border: 0.1vw dotted red;
    width: 13vw;
    top: 21vw;
}

.stockprices2 {
    position: absolute;
    left: 0.15vw;
    height: 10vw;
    width: 13vw;
    top: 18.5vw;
    text-align: center;
}

button {
    float: right;
    position: relative;
    right: 0.5vw;
    margin-top: 1vw;
    font-family: 'Inconsolata';
    background-color: #f44336;
    border: 2px solid #f44336;
    transition-duration: 0.4s;
    color: #CBD2D9;
    font-size: 0.75vw;
}

button:hover {
    background-color: #1F2933;
    color: white;
}

h3 {
    display: inline-block;
    margin: 0vw;
    position: relative;
    left: 0.5vw;
    line-height: 3vw;
    color: #CBD2D9;
    font-family: 'Inconsolata';
}

marquee {
    font-size: 1vw;
    color: #CBD2D9;
    font-family: 'Inconsolata';
    border: 0.2vw solid #323F4B;
    position: absolute;
    top: 4vw;
    width: 98.7%;
}