body {
    background-color: #1F2933;
    margin: 0;
    font-size: 16px; /* Set a base font size for em values*/
}

header {
    text-align: center;
    font-size: 4.8em;
    color: #CBD2D9;
}

h3 {
    display: inline-block;
    margin: 0vw;
    line-height: 3;
    color: #CBD2D9;
    font-family: 'Inconsolata';
}

* {
    box-sizing: border-box;
}

.buysellbox {
    width: 100%; /* Occupy full width on smaller screens */
    max-width: 300px; /* Limit maximum width for larger screens */
    margin: auto; /* Center the element */
    padding: 0.5em;
    border: 0.1vw dotted red;
    text-align: left;
}

.yourstocks {
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 0.5em;
    border: 0.1vw dotted red;
}

.stockprices {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 1em;
    border: 0.1vw dotted red;
    margin-top: 1em;
}

.boxtitles {
    text-align: center;
}

.flexbox {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

button {
    font-family: 'Inconsolata';
    background-color: #f44336;
    border: 0.2vw solid #f44336;
    transition-duration: 0.4s;
    color: #CBD2D9;
    font-size: 0.75vw;
}

button:hover {
    background-color: #1F2933;
    color: white;
}

marquee {
    font-size: 1em;
    color: #CBD2D9;
    font-family: 'Inconsolata';
    border: 0.2vw solid #323F4B;
    width: 100%;
    padding: 0.35em;
    margin-top: 0em;
    overflow: hidden; /* Prevent marquee content from overflowing */
}
